body {
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full screen height */
 }
 

 main {
    width: 600px;

 }

 #input {
     background-color: lightblue;
     border: none;
     border-bottom: solid rgb(0, 145, 255) 2px;
     width: 80%;
     height: 2rem;
     padding: 5px;
     opacity: 50%;
     font-size: 1rem;
 }
 
 button {
     background-color: #1f4952;
     border: none;
     min-width: fit-content;
     width: 7vw;
     max-width: 70px;
     height: 5vh;
     max-height: 40px;
     margin: 10px;
     color: white;
     font-size: 1rem;
 }
 
 img {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 80px;
 }


 #man {
     width: 20vw;
     max-width: 500px;
     height: auto;
 }


 
 .shit, a {
    justify-self: center;
     padding: 2%;   
     height: 45vh;
     width: 40vw;
     max-width: 400px;
     min-height: fit-content;
     text-align: center;
     font-size: 1.5rem;
     background-color: black;
     border-radius: 5px;
     color: white;
 }
 
 /* Make it more responsive on smaller screens */
 @media (max-width: 768px) {
     .shit {
         width: 80%;
         height: auto;
         font-size: 1.2rem;
     }
 
     button {
         width: 20vw;
         height: 6vh;
         font-size: 0.9rem;
     }
 
     img {
         width: 25vw;
     }
 }
 
